body {
	height: 100vh;
	margin: 0;
}

form {
	margin: 100px ;
	text-align: center;
}

input[type="file"] {
	display: none;
}

label {
	padding: 10px;
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
}

details {
	margin: 5px 0px 5px 30px;
	padding: 5px;
}

pre {
	padding-left: 30px;
}

.good {
	background-color: #0f06;
}

.bad {
	background-color: #f006;
}

.neutral {
	background-color: #0003;
}

.code-highlight {
	background-color: #ff03;
}